[submodule "vendor/ucolor-python"]
	path = vendor/ucolor-python
	url = https://github.com/jojo8356/ucolor-python.git
[submodule "vendor/ulog-python"]
	path = vendor/ulog-python
	url = https://github.com/jojo8356/ulog-python.git
